<div class="col-3 homepage_content">
		<h2>Stuff I've Built</h2>
		<hr>
		<h3><a href="#">Unicasts</a></h3>
		<p class="date">Friday April 10th</p>
		<h3><a href="#">The Macenzie Child Community</a></h3>
		<p class="date">Friday April 10th</p>
		<h3><a href="#">12 in 12 challenge</a></h3>
		<p class="date">Friday April 10th</p>
	</div>
